python-dotenv
SQLAlchemy
psycopg2-binary
pgvector
pandas
lightrag-hku
langchain-openai

langchain-nvidia-ai-endpoints
langchain-deepseek
langchain-groq
langchain-google-genai
langchain-text-splitters
tokenizers

graphiti-core

uvicorn
fastapi


